*{
  padding: 0;
  margin: 0;
  box-sizing: border-box
}
body{
	background-color: #f5f5f5;
}

.bigSection{
	box-shadow: -3px 17px 33px 2px rgba(0,0,0,0.75);
	margin: $marginContainer;
}

.brand-logo{
	img{
			border-right: 1px solid grey;
			padding: 0 30px;
			margin: 10px;
	}
}
.transparent{
	position: relative;
	bottom: 20px;
}

.theme{
	p{
		color: black;
		font-weight: bolder;
		border-right: 1px solid grey;
		padding: 6px 40px;
		margin: 10px;
		span{
			color: #00BFFF;
			
		}
	}
}
.navegador{
	position: fixed;
	top: 0px;
	left: 0;
	right: 0;
	z-index: 100;
	#margin{
		margin-bottom: 0
	}

}

.device{
	i{
		margin: 15px 0;
	}
}
.blue, .red{
	box-shadow: 0px 10px 4px -2px rgba(15,24,133,1);
	margin: 10px;
}
.red{
	box-shadow: 0px 10px 4px -2px rgba(128,7,7,1);
}
.fa-times{
	margin: 15px;
	color: #BDBDBD
}
.dropdown-content,.dropdown-content {
	li{
		a{
			color: #424242;
		}
		span{
			color: #424242;
		}
	}
} 
.container{
	button{
		@include buttonPink;
	}
}
.design{
	background-color: white;
	border-radius: 10px;
	margin: 80px 0px;
	padding: 20px;
	p{
		padding: 30px;
		color: #bdbdbd;
		font-size: 1.3em
	}
	.description{
		padding: 0;
		font-size: 1em
	}

}
.fa-th{
	color: #e91e63;
}
.fa-server{
	color: #4dd0e1;
}
.fa-bars{
	color: green;
}
.info{
	background: url('../img/img_city.jpg');
	background-size: cover;
	position: relative;
	bottom: 120px;
	background-attachment: fixed;
	color: $colorTitulos;
	padding: 30px;
	.bg{
		background-color: rgba(0, 0, 0, 0.5);
		margin: -30px;
	}
	p{
		font-size: 1.3em
	}

}

.box-products{
	margin-top: 50px;
	background: $colorTitulos;
	padding: 10px;
	border-radius: 10px;
	img{
		position: relative;
		bottom: 30px;
		border-radius: 10px;
		box-shadow: $shadow;
		-webkit-transition: width 0.8s; /* Safari */
		transition: bottom 0.8s;
	}
	img:hover{
		bottom: 50px;
		box-shadow: $hoverShadow;
	}
	h6{
		color: #e91e63;
		span{
			color: black;
			font-size: 1.3em;
			font-weight: bolder;
		}
	}
	p{
		color: $colorTexto;
		margin: 10px auto
	}

}
.price{
	p{
		color: #585858;
	}
}
.portfolio{
	background-color: $colorTitulos;
	margin: 100px 0;
	padding-bottom: 40px;
	img{
		border-radius: 30px;
		box-shadow: $shadow;
	}

}
.aboutUs{
	margin: 350px auto 30px;
}
.fa-facebook{
	color: #2E2EFE
}
.fa-twitter{
	color: #00BFFF
}
.fa-dribbble, .titlePink{
	color: #FE2EF7
}
.fa-google-plus, .titleOrange{
	color: #FE2E64;
}
.fa-linkedin, .titleBlue{
	color: #0080FF;
}

.products, .portfolio, .aboutUs, .plan, .clients{
	h2{
		@include titulo;
	}
	h5{
		@include subTitulo;
	
	}
	h4{
		@include titulo;
		font-size: 1.2em
	}
}
.team{
	text-align: left;
	p{
		color: $colorTexto_seccion;
	}
}
.plan{
	padding: 20px;
	.chose-plan{
		text-align: justify;
		p{
			color: $colorTexto_seccion
		}
	}
	.card, .noCard{
		background-color: $colorTitulos;
		border-radius: 10px;
		padding: 20px;
		box-shadow: $hoverShadow;
		h5{
			font-size: 0.8em;
			font-weight: bolder;
		}
		span{
			font-size: 3.5em;
			font-weight: bolder;
		}
		ul{
			li{
				border-top: 1px solid $colorTexto_seccion;
				padding: 10px;
				color: $colorTexto_seccion
			}
		}
		button{
			@include buttonPink
		}
	}
	.noCard{
		background-color: transparent;
		border: none;
		box-shadow: none
	}
}
.clients{
	p, h4{
		color: $colorTexto_seccion;
	}
	.client-image{
		img{
			width:  30%;
		}
	}
	padding-bottom: 20px;
}
.subscribe{
	background: url('../img/about.jpg');
	background-size: cover;
	background-position: left top;
	
	.subscribe-box{
		background-color: rgba(0, 0, 0, 0.6);
	}
	h2{
		@include titulo;
		color: white;
	}
	p{
		@include subTitulo;
		color: white;
	}
	.form{
		background-color: $colorTitulos;
		border-radius: 10px;
		margin: 40px 0;
		button{
			@include buttonPink;
			border-radius: 5px;
			margin-top: 20px;
		}
		i{
			margin-top: 35px;
		}
	}
}
.blog{
	img{
		border-radius: 5px;
	}
	h4{
		@include titulo; 
		font-size: 1.2em;
	}
	p{
		color: $colorTexto_seccion;
	}
	.blog-box{
		padding: 30px;
	}
}

.contactUs{
	background: url('../img/img_city.jpg');
	background-size: cover;
	.row{
		background-color: rgba(0, 0, 0, 0.6);
		.contact-info{
			padding: 50px;
			color: white;
			h3{
				display: inline-block
			}
		}
		.contact{
			background-color: white;
			border-radius: 10px;
			margin: 40px;
			padding: 30px;

			h3{
				background-color: #e91e63;
				border-radius: 10px; 
				margin: 20px;
				position: relative;
				bottom: 80px;
				color: white;
				padding: 10px;
				box-shadow: $shadow;
			}
			input[type=text]:not(.browser-default), .input{
				background-color: white;
			}
			textarea{
				border: none;
				border-bottom: 1px solid $colorTexto_seccion;
				height: 130px;

			}
			button{
				@include buttonPink;
				border-radius: 5px
			}
		}
	}

}