*{
  padding: 0;
  margin: 0;
  box-sizing: border-box
}
body{
	background-color: #f5f5f5;
}

.brand-logo{
	img{
			border-right: 1px solid grey;
			padding: 0 30px;
			margin: 10px;
	}
}
.transparent{
	position: relative;
	bottom: 20px;
}

.theme{
	p{
		color: black;
		font-weight: bolder;
		border-right: 1px solid grey;
		padding: 6px 40px;
		margin: 10px;
		span{
			color: #00BFFF;
			
		}
	}
}
.navegador{
	position: fixed;
	top: 0px;
	left: 0;
	right: 0;
	z-index: 100;
}

.device{
	i{
		margin: 15px 0;
	}
}
.blue, .red{
	box-shadow: 0px 10px 4px -2px rgba(15,24,133,1);
	margin: 10px;
}
.red{
	box-shadow: 0px 10px 4px -2px rgba(128,7,7,1);
}
.fa-times{
	margin: 15px;
	color: #BDBDBD
}
.dropdown-content,.dropdown-content {
	li{
		a{
			color: #424242;
		}
		span{
			color: #424242;
		}
	}
} 
.container{
	button{
		background-color: #e91e63;
		border: none;
		width: 200px;
		height: 50px;
		color: white;
	}
}
.design{
	background-color: white;
	border-radius: 10px;
	margin: 80px 0px;
	padding: 20px;
	p{
		padding: 30px;
		color: #bdbdbd;
		font-size: 1.3em
	}
	.description{
		padding: 0;
		font-size: 1em
	}

}
.fa-th{
	color: #e91e63;
}
.fa-server{
	color: #4dd0e1;
}
.fa-bars{
	color: green;
}
.info{
	background: url('../img/img_city.jpg');
	background-size: cover;
	position: relative;
	bottom: 120px;
	background-attachment: fixed;
	color: $colorTitulos;
	padding: 30px;
	.bg{
		background-color: rgba(0, 0, 0, 0.5);
		margin: -30px;
	}
	p{
		font-size: 1.3em
	}

}

.box-products{
	margin-top: 50px;
	background: $colorTitulos;
	padding: 10px;
	border-radius: 10px;
	img{
		position: relative;
		bottom: 30px;
		border-radius: 10px;
		box-shadow: $shadow;
		-webkit-transition: width 0.8s; /* Safari */
		transition: bottom 0.8s;
	}
	img:hover{
		bottom: 50px;
		box-shadow: $hoverShadow;
	}
	h6{
		color: #e91e63;
		span{
			color: black;
			font-size: 1.3em;
			font-weight: bolder;
		}
	}
	p{
		color: $colorTexto;
		margin: 10px auto
	}

}
.price{
	p{
		color: #585858;
	}
}
.portfolio{
	background-color: $colorTitulos;
	margin: 100px 0;
	img{
		border-radius: 30px;
		box-shadow: $shadow;
	}

}



.bigSection{
	box-shadow: -3px 17px 33px 2px rgba(0,0,0,0.75);
	margin: $marginContainer;

}
