$colorTitulos: white;
$marginContainer: 0 30px;
$shadow:0 10px 6px -6px #777;
$hoverShadow: 2px 15px 10px 2px #777;
$colorTexto: #bdbdbd;
$border: 10px;
$colorTitulo_seccion: #424242;
$colorTexto_seccion: #A4A4A4;